# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Distribution / packaging
dist/
build/
*.zip
*.tar.gz

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.venv
archive/
*.cursor.rules/
__pycache__/

# API keys and secrets
config.js
**/config.js
secrets.json

# Audio and image files (optional, uncomment if needed)
# *.wav
# *.mp3
# *.aac
# *.jpg
# *.jpeg
# *.png

# Backup files
*~
*.bak
*.swp 

#music local copy

temp/
server/temp
server/temp/combined
server/temp/mixes
server/temp/sections


#tonn example files
tonn
tonn/examples
tonn/python-example


#Planning Docs:
Documents
Documents/audio_doc.md
Documents/building.md
Documents/final-revise
Documents/final-reviseplan2
Documents/phase2.md
Documents/phase3.md
Documents/revise3.md
